/* Error: Undefined variable.
 *    ,
 * 51 |         font-family: $font-subtitulo;
 *    |                      ^^^^^^^^^^^^^^^
 *    '
 *   sass\style.scss 51:22  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 51 \2502          font-family: $font-subtitulo;\d\a    \2502                       ^^^^^^^^^^^^^^^\a    \2575 \a   sass\\style.scss 51:22  root stylesheet";
}
